<h1>Rua Bélgica!</h1>

<style>
	:global(body) {
		background-image: url('/images/cats.gif');
		background-size: cover;
		height: 100vh;
		padding: 0;
		margin: 0;
	}
	h1 {
		color: white;
		font-family: 'Helvetica Neue', sans-serif;
		font-size: 275px;
		font-weight: bold;
		letter-spacing: -1px;
		text-align: center;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: black;
		margin: 0px;
	}
	@media only screen and (max-width: 768px) {
		h1 {
			font-size: 50px;
			-webkit-text-stroke-width: 1px;
		}
	}
</style>
